/node_modules
/mobile/node_modules
/mobile/android/build
/mobile/android/app/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.local
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.log
*.zip
*.exe
*.phar
